body{
    font-family: arial;
    margin:0px;
}
a{
    color: rgb(102, 102, 102);
    text-decoration: none;
    font-size: 14px;
    margin-left: 30px;
}
a:hover{
    text-decoration: underline;
}
footer{
    display: block;
    position: absolute;
    bottom: 0;
    background-color: rgb(245, 244, 244);
    line-height: 40px;
    /* padding-right: -10; */
    width:100vw;
    border-top: 1px solid rgb(209, 209, 209);
}


.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    margin-bottom: 25px;
}

.search-bar{
    display: flex;
    align-items: center;
    width: 560px;
    height: 30px;
    padding: 7px;
    border: 1px solid lightgray;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}

.search-bar:hover,
.search-bar:focus-within {
  border-color: white;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.search-input{
    font-size: 16px;
    width: 30em;
    border:none;
    outline: none;
}



.search-image{
    padding: 6px;
    width:20px;
    height:auto;
}

.mic-image{
    padding: 6px;
    /* width:1.2em; */
    height:auto;
}